* {
	padding: 0;
	margin: 0;
}
body {
	line-height: 1.5;
	background-color: #f4f7ed;
	font-family: Microsoft YaHei;
}
.head {
	padding-top: 10px;
	padding-left: 10px;
	min-width: 1280px;
	height: 40px;
	color: #fbfcfe;
	font-size: 20px;
	border-radius: 10px;
	background-color: #00425c;
	
}
#title {
	margin-left: 20px;
}
#youke-frontpage,#question {

	margin-left: 40px;
}
#sign-in,#log-in {
	float: right;
	padding-right: 40px;
}
#title,#youke-frontpage a,#question a,#sign-in a,#log-in a {
	font-size: 20px;
	color: white;
	text-decoration: none;
}
#search {
	margin-left: 400px;
	width: 220px;
	height: 30px;
	font-family: Microsoft YaHei;
	font-size: 15px;
	border-radius: 4px;
	border: 1px solid #aaa;
}
#search-submit {
	margin-left: 20px;
	height: 30px;
	width: 60px;
	background-color: white;
	border-radius: 4px;
	border: 1px solid #aaa;
}
#search-submit a {
	font-size: 20px;
	font-family: Microsoft YaHei;
	color: black;
	text-decoration:none;
}
.tag {
	margin: 15px 150px 0 100px;
	height: 40px;
	width: 1080px;
}
.tag span {
	margin-left: 50px;
	height: 30px;
	width: 80px;
	line-height: 30px;
	text-align: center;
	color: white;
	display: inline-block;
	background-color: #4586ba;
	border-radius: 10px;
	border: 1px solid #aaa;
	cursor: pointer;
}
.single-content {
	margin: 20px 150px 0 150px;
	background-color: white;
	box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
#delete {
	margin-right: 80px;
	margin-top: 5px;
	float: right;
	width: 80px;
	height: 25px;
	background-color: #4586ba;
	color: white;
	border-radius: 4px;
	border: 1px solid #aaa;
	cursor: pointer;
}
.content-question,.authorinfo,.actions{
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 5px;
}
.content-answer {
	padding-left: 20px;
	padding-right: 20px;
}
.content-question {
	font-size: 20px;
	cursor: pointer;
}
.authorinfo {
	font-size: 18px;
}
#photo {
	width: 24px;
	height: 24px;
	cursor: pointer;
}
#user-id {
	padding-left: 10px;
	width: 60px;
	height: 24px;
	cursor: pointer;
}
.single-content a {
	text-decoration:none;
	color: black;
}
.actions img {
	width: 35px;
	height: 28px;
	vertical-align: middle;
}
.actions button {
	width: 70px;
	height: 28px;
	background-color: #d1ebea;
	border-radius: 4px;
	border: 1px solid #aaa;
	cursor: pointer;
}
.actions button:hover {
	background-color: #C9E3E2;
}
#down {
	margin-left: 10px;
}

.paper {
	margin: 50px auto;
	width: 510px;
	height: 40px;
}
.paper a {
	padding: 5px;
	text-decoration: none;
}
.pages {
	display: none;
}
.pages-list ul {
	display: inline-block;
}
.pages-list ul li {
	width: 25px;
	height: 25px;
	border: 1px solid #e5e5e5;
	list-style-type: none;
	display: inline-block;
}
.page-input {
	margin-left: 30px;
	font-size: 13px;
}
.page-input input {
	margin: 3px;
	width: 18px;
	height: 15px;
}
.onclickpage {
	color: #d13030;
}
.sure {
    border: 1px solid #e5e5e5;
}