* {
	padding: 0;
	margin: 0;
	font-family: Microsoft YaHei;
}

body {
	line-height: 1.5;
	background-color: #f4f7ed;
	font-family: Microsoft YaHei;
}
.head {
	min-width: 1280px;
	background-color: #00425c;
	height: 40px;
	border-radius: 10px;
	color: #fbfcfe;
	font-size: 20px;
	padding-top: 10px;
	padding-left: 10px;
}
#title {
	margin-left: 20px;
}
#youke-frontpage,#question {

	margin-left: 40px;
}
#sign-in,#log-in {
	float: right;
	padding-right: 40px;
}
#title,#youke-frontpage a,#question a,#sign-in a,#log-in a {
	text-decoration: none;
	font-size: 20px;
	color: white;
}
#search {
	border-radius: 4px;
	border: 1px solid #aaa;
	width: 220px;
	height: 30px;
	margin-left: 400px;
	font-family: Microsoft YaHei;
	font-size: 15px;
}
#search-submit {
	height: 30px;
	width: 60px;
	background-color: white;
	border-radius: 4px;
	border: 1px solid #aaa;
	margin-left: 20px;

}
#search-submit a {
	text-decoration:none;
	font-size: 20px;
	color: black;
}
#answer a ,#guanzhu a,#jubao a ,#submit-span a{
	text-decoration:none;
	color: white;
}
.tag {
	float: left;
	height: 40px;
}
.question-info {
	height: 120px;
	background-color: white;
	padding-top: 10px;
}
.tag span,.question-info span,#submit-span {

	color: white;
	height: 30px;
	width: 80px;
	line-height: 30px;
	text-align: center;
	background-color: #4586ba;
	margin-left: 10px;
	cursor: pointer;
}
.tag span,.question-info span {
	border-radius: 10px;
	border: 1px solid #aaa;
}
.question-info span,#submit-span {
	display: inline-block;
	float: right;
	margin-right: 10px;
	margin-bottom: 0px;
}
.single-content,.question-info,.answer-div {
	margin: 20px 150px 0 150px;
	background-color: white;
	box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.content-question {
	margin-top: 30px;
	display: block;
	font-size: 20px;
}
.content-question,.authorinfo,.actions{
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 5px;
}
.content-answer {
	padding-left: 20px;
	padding-right: 20px;
}
.authorinfo {
	font-size: 18px;
}
#photo {
	width: 24px;
	height: 24px;
	cursor: pointer;
}
#user-id {
	padding-left: 10px;
	width: 60px;
	height: 24px;
	cursor: pointer;
}
#user-id a {
	text-decoration:none;
	color: black;
}
.actions img {
	width: 35px;
	height: 28px;
	vertical-align: middle;
}
.actions button {
	width: 70px;
	height: 28px;
	background-color: #d1ebea;
	border-radius: 4px;
	border: 1px solid #aaa;
	cursor: pointer;
}
.actions button:hover {
	background-color: #C9E3E2;
}
#down {
	margin-left: 10px;
}
.answer-div{
	height: 230px;
	margin-bottom: 20px;
}
.answer-div a {
	text-decoration:none;
	color: black;
}
.answer-authorinfo {
	height: 50px;
	font-size: 18px;
}
#answer-touxiang-img {
	width: 38px;
	height:38px;
	margin-top: 6px;
	margin-left: 10px;
	border-radius: 4px;
}
#answer-id {
	margin-left: 6px;
	display: inline-block;
}
.fuwenben {
	height: 140px;
}
.submit {
	height: 30px;
}
