* {
	padding: 0;
	margin: 0;
	font-family: Microsoft YaHei;
}

body {
	line-height: 1.5;
	background-color: #f4f7ed;
}
.head {
	padding-top: 10px;
	padding-left: 10px;
	min-width: 1280px;
	height: 40px;
	color: #fbfcfe;
	font-size: 20px;
	background-color: #00425c;
	border-radius: 10px;
	
}
#title {
	margin-left: 20px;
}
#user-frontpage,#question {

	margin-left: 40px;
}
#sign-in {
	float: right;
	padding-right: 40px;
}
#title,#question a,#sign-in a,#log-in a,#user-frontpage a {
	text-decoration: none;
	font-size: 20px;
	color: white;
}
#search {
	margin-left: 400px;
	width: 220px;
	height: 30px;
	font-family: Microsoft YaHei;
	font-size: 15px;
	border-radius: 4px;
	border: 1px solid #aaa;
}
#search-submit {
	margin-left: 20px;
	height: 30px;
	width: 60px;
	background-color: white;
	border-radius: 4px;
	border: 1px solid #aaa;
}
#search-submit a {
	font-size: 20px;
	font-family: Microsoft YaHei;
	color: black;
	text-decoration:none;
}
.person-info {
	margin: 20px 150px 50px 150px;
	height: 250px;
	background-color: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.05);
	border-radius: 8px;
}
.person-info span {
	display: block;
}
.person-photo {
	margin-top: 60px;
	margin-left: 10px;
	width: 180px;
	float: left;
}
.person-info-more {
	float: left;
	margin-left: 60px;
	margin-top: 40px;
}
#person-photo-more {
	width: 180px;
	height:180px;
	border-radius: 4px;
}
#yong-hu {
	font-size: 20px;
	font-weight: bold;
}
#jieshao ,#score {
	font-size: 15px;
	padding-left: 80px;
}
#editor {
	margin-right: 20px;
	margin-top: 180px;
	float: right;
	width: 100px;
	height: 30px;
	color: #4586ba;
	font-size: 15px;
	background-color: white;
	border-radius: 4px;
	border: 1px solid #aaa;
	cursor: pointer;
}
#editor:hover {
	background-color: #C9E3E2;
}
.message {
	margin: 20px 150px 0 150px;
}
.message-detail {
	padding-left: 40px;
	height: 60px;
	font-size: 18px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.05);
	background-color: white;
}
.message-detail a {
	text-decoration:none;
	font-size: 18px;
	cursor: pointer;
	color: #0f88eb;
}
.message span,.message-more {
	margin-right: 60px;
	margin-left: 40px;
}
.message span {
	cursor: pointer;
}
.message-more {
	font-size: 16px;
}
.clickClass {
	font-size: 18px;
	color: #4d9bb1;
}

#editor,#setData {
	margin-right: 20px;
	margin-top: 180px;
	float: right;
	width: 100px;
	height: 30px;
	background-color: white;
	color: #4586ba;
	font-size: 15px;
	border-radius: 4px;
	border: 1px solid #aaa;
	cursor: pointer;
}
#editor:hover {
	background-color: #C9E3E2;
}
#setData:hover {
	background-color: #C9E3E2;
}